extends layout

block content
  h1= object
  p Displaying #{object} Table
  p= rows
  table
    tr
      th Salesforce ID
      th Name
    each val, ind in rows
      tr
        td= val.sfdcID
        td= val.name